@model Project1.Models.NewTicket

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>CustAgentModel</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TicketId)

    <div class="form-group">
        @Html.LabelFor(model => model.TicketType, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TicketType, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @id = "Description", @onfocusout = "checknum()" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Team, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Team, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @id = "Description", @onfocusout = "checknum()" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @id = "Description", @onfocusout = "checknum()" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @id = "Description", @onfocusout = "checknum()" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StDescr, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.StDescr, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @id = "STDescription", @onfocusout = "checknum()" } })
            <small> </small>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @readonly = "readonly", @class = "form-control", @id = "Description", @onfocusout = "checknum()" } })
            <small> </small>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AssignedTo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AssignedTo, new { htmlAttributes = new { @class = "form-control", placeholder = "Assign to a Agent", @id = "Description", @onfocusout = "checknum()" } })
            <small> </small>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "GetAllCustomers")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
